/* project-specific CSS belongs here */

.month-label, .date-label {
  font-size : 13px;
  font-weight : bold;
}
.date-label {
  letter-spacing: -0.4px;
}

.trace {
  fill : none;
  stroke-width: 2;
}
.trace-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  &.ended {
    text-decoration: line-through;
  }
}
.trace-label-links {
  stroke-dasharray: 1 1;
  /*stroke-linecap: round;*/
}

.party-toggle-container {
  max-width: 240px;
  margin : 0 auto;
}

.intro-text {
  max-width: 500px;
  margin: 10px;
  font-size: 14.5px;
  line-height: 1.3;
  font-family: var(--serif-stack);
  p + p {
    margin-top: 1em;
  }
  position: absolute;
  left: 150px;
}

.state-info {
  max-width: 60%;
  position: absolute;
  right: 15px;
  bottom: 75px;
  border: 1px solid var(--grey-5);
  padding: 3px 5px;
}
.state-info-text {
  font-family: var(--serif-stack);
  font-size: 15px; line-height: 1.3;
  margin-top: 0.5em;
}

.primary-calendar {
  user-select: none;

  rect, text {
    cursor: pointer;
  }
}

.chart-container .tab-bar {
  .tab {
    &.democrat {
      &.active-tab {
        background-color: #005994;
        border-color : #005994;
      }
    }
    &.republican {
      &.active-tab {
        background-color : #ed5755;
        border-color : #ed5755;
      }
    }
  }
}
