/* project-specific CSS belongs here */

.month-label {
  font-size : 13px;
  font-weight : bold;
}

.trace-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  fill: white;
}

.party-toggle-container {
  max-width: 240px;
  margin : 0 auto;
}
