/* project-specific CSS belongs here */

.month-label, .date-label {
  font-size : 13px;
  font-weight : bold;
}
.date-label {
  letter-spacing: -0.4px;
}

.trace-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  fill: white;
}

.party-toggle-container {
  max-width: 240px;
  margin : 0 auto;
}
